@import url('https://fonts.googleapis.com/css2?family=Lora&family=Oswald:wght@700&display=swap');


/* CSS for the background image */
.background-image {
    position: fixed; /* Keeps the image fixed in the viewport */
    left: 1rem;
    top:5%;
    width: 50%; /* Increase the width to make the image larger */
    height: auto; /* Maintain aspect ratio */
    z-index: -3; /* Puts the image behind other content */
    opacity: 0.75; /* Adjust the opacity as needed */
}
.background-image2 {
    position: fixed; /* Keeps the image fixed in the viewport */
    left: 12rem;
    top: 30%;
    width: 30%; /* Increase the width to make the image larger */
    height: auto; /* Maintain aspect ratio */
    z-index: -1; /* Puts the image behind other content */
    opacity: 1; /* Adjust the opacity as needed */
}


.separator {
    width: 1px;
    background-color: #ccc;
  }

.nav{
    position: fixed;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
}
.nav-logo p{
font-size: 35px;
font-weight: 600;
font-family: 'Oswald', sans-serif;
}

.nav-button .btn{
    width: 130px;
    height: 40px;
    margin-top: 30px;
    font-weight: 600;
    background-color: #9999992b;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
#register{
    margin-left: 15px;

}

.btn.white{
    background-color: #4b4b4b;
    color: #fff;
    font-weight: 600;
}

.btn:hover{
    background-color: #b4b4b4;
    color: #000;
    font-weight: 600;
}

body {
   
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Move content to the right */
}

#reg {
    font-family: Arial, sans-serif;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 55%; /* Adjust the width to leave space for the form */
    
}


form {
    background: linear-gradient(45deg, #ffffff2c, #00000005);
    padding: 20px;
    padding-left: 5rem;
    padding-right: 25rem;
    border-radius: 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    position: relative;
    
}

.regwith {
    margin: 10px;
    padding: 0px 35px;
    border: 1px solid rgb(158, 180, 244); 
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0); 
    position: absolute;
    top:40px;
    right: 8.5%;

}

.or-text {
    position: absolute;
    top: 0px; /* Adjust the vertical positioning above the custom box */
    right: 20%; /* Adjust the right position to align with the separator text */
    /* Add any styles you want for the "or" text */
}

.line {
    position: absolute;
    top: 0;
    right: 40%; /* Adjust the right position to match the width of .custom-box */
    height: 100%; /* Make the separator cover the entire height of the form */
    width: 2px; /* Set the width of the separator line */
    background-color: grey; /* Set the background color of the separator */
    content: ""; /* Required for pseudo-elements */
}

#password,#fname,#lname,#username,#email{
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 100px; /* Make the text field edges rounded */
    width: 100%;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #b1b1b147;
}

#utype{
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 100px; /* Make the text field edges rounded */
    width: 50%;
    margin-bottom: 15px;
    font-size: 16px;
    background-color: #b1b1b147;
    justify-content: center;
}
#password:hover,#fname:hover,#lname:hover,#username:hover,#email:hover,#utype:hover{
    background-color: #ffffff;
}
input[type="submit"] {
    padding: 15px 100px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 2rem;
    margin-top:2.5rem ;
    border: 0;
    border-radius: 100px;
    background-color: #c4c4c4;
    color: #000000;
    font-weight: Bold;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    
    
}

input[type="submit"]:hover {
  background-color: #cecece;
  box-shadow: 0 0 20px #60606050;
  transform: scale(1.1);
}
input[type="submit"]:active {
    background-color: #676767;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    box-shadow: none;
    transform: scale(0.98);
}


label{
    padding-left: 1rem;
}
option{
    background-color: #dcf1ff;
}

#login-btn{
    padding-right: 100px;
}


/* POP UP */

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}

.popup-show {
    display: block;
}

.forgot-password a{
    color: rgb(145, 0, 0);
}
.forgot-password a:visited{
    color: rgb(255, 103, 103);
}
