<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="swasthik acharya" /> <!--congnd91-->
    <title>Truth Teller AI News</title>
      <link rel="icon" href="images/image.ico" type="image/x-icon">

    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700"
      rel="stylesheet"
    />

    <link href="assets/css/font-awesome.min.css" rel="stylesheet" />
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="assets/css/swiper.min.css" rel="stylesheet" />
    <link href="assets/css/main.css" rel="stylesheet" />

      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.assets/js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!--preload-->
    <div class="loader" id="page-loader">
      <div class="loading-wrapper">
        <p>Loading<span>.</span><span>.</span><span>.</span></p>
      </div>
    </div>

    <!--page-->
    <div class="page">
      <div class="mobile-bar hidden-lg hidden-md">
        <div class="menu-icon-mobile hidden-lg hidden-md">
          <i class="fa fa-navicon"></i>
          <span>MENU</span>
        </div>
      </div>
      <!--header-->
     
      <!--wrapper-->
      <div class="wrapper">
        <div class="wrap">
          <div class="sitemap">
            <div class="sitemap-inner">
            </div>
            <div class="clearfix"></div>
          </div>

          <div class="big-page-caption">
            <p>TruthTeller AI News</p>
          </div>


          <div class="colleft">
            <!--box newsletter-->
<form action="/" method="POST">
            <div class="subcribe-box">
              <p class="des">
                I am an AI model to detect fake news,If you have any specific information, feel free to share, and I can help you
              </p>
                <br>
              <div class="mc4wp-form-fields">
                <p>
                  <label>Email address: </label>
                  <textarea
                    name="txt"
                    class="form-control"
                    placeholder="Your news"
                    required=""
                    rows="4" cols="50"
                  ></textarea>
                </p>
                <p>
                  <input
                    style="margin-top: 10px"
                    type="submit"
                    value="Check"
                  />
                </p>
              </div>
            </div>
            </form>
            <div class="clearfix">
                <div>
                    <h3>Enterd Text is: </h3>
                    {{ request.form['txt'] }}
                </div>
                <div>
                    <h3> The AI Model Found That News is: </h3>
                <p>{% if result == 0 %}
                    <h3 style="color: red;">Fake News</h3>
                   {% else  %}
                    <h3 style="color:seagreen;">True News</h3>
                   {% endif  %}
                </p> 
                </div>   
            </div>
          </div>

          
        </div>
      </div>
    </div>

    <!--script file-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/isotope.pkgd.min.js"></script>
    <script src="assets/js/swiper.min.js"></script>
    <script src="assets/js/jquery.matchHeight.js"></script>
    <script src="assets/js/main.js"></script>
  </body>

</html>
